/* main: ../main.scss */

footer{
  text-align: center;
  padding: 100px 0;
  .redes{
    ul{
      display: flex;
      list-style: none;
      justify-content: center;
      font-size: $size_20;
      padding: 30px;
      li{
        padding: 0 25px;
        a{
          color: $text-white;
        }
        a:hover{
          color: $text-green;
        }
      }
    }
  }
  .contacto{
    text-align: center;
    img{
      padding: 40px 0;
      margin: auto;
    }
    p{
      color: $text-white;
      line-height: 2;
    }
  }
  .politicas{
    color: $text-white;
    line-height: 2;
    .fa-smile-o{
      font-size: $size_18;
      padding-left: 4%;
    }
    .smile{
      display: inline-block;
    }
  }
}
