/* main: ../main.scss */

@media only screen and (min-width : 320px) {
  #banner{
    img{
      width: 100%;
    }
    h4{
      font-weight: 300;
    }
  }
  header{
    .navbar{
      margin-bottom: 0;
    }
    .navbar-header{
      background: transparent;
      img{
        width: 50%;
      }
    }
    .navbar-default.menumovil{
      background: $background_gray;
      button{
        background: $background_green;
        border: 0;
        .icon-bar{
          background: $background-white;
        }
      }
      button:focus, button:active, button:hover{
        background: white;
        .icon-bar{
          background: $background_green;
        }
      }
      .navbar-collapse, .navbar-default .navbar-form{
        border:0;
      }
      ul{
        padding-top: 10px;
      }
      li.lang{
        display: flex;
        background: #7CB342;
        border-radius: 50px;
        padding: 0px;
        margin: 5px 5px;
        width: 27%;
        a:hover{
          border-bottom: 0 !important;
          padding-bottom: 0;
        }
        .en{
          border-radius: 60px;
          background: #59822e;
          color: #7CB342;
          margin: 5px;
          padding: 5px 7px;
        }
        .es{
          border-radius: 60px;
          background: #fff;
          color: #7CB342;
          margin: 5px;
          padding: 5px 7px;
        }
      }
      .navbar-nav>li>a{
       color: white;
       font-weight: 300;
       padding-bottom: 10px;
     }
      .navbar-nav>li>a:hover{
       color: white;
       border-bottom: 3px solid $text_green;
     }
    }
    .navbar-default.menuweb{
      background-color: $background_gray;
      border: none;
      border-radius: 0;
      .navbar-brand{
        //padding: 10px 0;
      }
      .navbar-collapse, .navbar-default .navbar-form{
        border:0;
      }
      ul{
        padding: 10px 0;
        background: $background_gray;
      }
      li.lang{
        display: flex;
        background: #7CB342;
        border-radius: 50px;
        padding: 0px;
        margin: 5px 0;
        a:hover{
          border-bottom: 0 !important;
          padding-bottom: 0;
        }
        .en{
          border-radius: 60px;
          background: #59822e;
          color: #7CB342;
          margin: 5px;
          padding: 5px 7px;
        }
        .es{
          border-radius: 60px;
          background: #fff;
          color: #7CB342;
          margin: 5px;
          padding: 5px 7px;
        }
      }
       .navbar-nav>li>a{
        color: white;
        padding-bottom: 10px;
      }
       .navbar-nav>li>a:hover{
        color: white;
        border-bottom: 3px solid $text_green;
      }
    }

    .lang{
      display: flex;
      background: $background_green;
      border-radius: 50px;
    }
  }
  #tecnology{
    background: #F4F4F4;
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      li{
        list-style: none;
        padding: 30px;
      }
    }
  }
  #medida{
    h3{
      padding: 0 0%;
      line-height: 1.5;
      font-weight: 400;
      font-size: $size_14;
    }
    img{
      margin: auto;
      padding-top: 50px;
    }
  }
  #section{
    h2{
      padding-bottom: 20px;
      text-align: center;
    }
    h3{
      font-size: $size_20;
      line-height: 2;
      text-align: center;
    }
    p{
      line-height: 2;
      text-align: center;
    }
    .p_user{
      color: $text-white;
    }
    img{
      margin: 50px auto;
    }
  }
  #exito{
    padding: 100px 0;
    h4{
      color: $text-white;
    }
    .carousel-indicators{
      li{
        margin: 8px;
        border: 1px solid $background-white;
        background: $background-white;
      }
      li.active{
        background: $background-green;
        border: 1px solid $background-green;
      }
    }
    .carousel-caption{
      bottom: 0;
      left: 0;
      position: relative;
      text-align: left;
      .hr_exito{
        margin: 20px 0;
        margin-top: 4%;
        margin-bottom: 8%;
      }
      .tags{
        display: flex;
        list-style: none;
        margin-top: 10%;
        li {
          a{
            text-decoration: none;
            color: $text-white;
            border-radius: 50px;
            font-weight: 300;
            text-shadow: none;
          }
          a:hover{
            background: $background-green;
          }
        }
      }
      img{
        margin-bottom: 6%;
      }
      p{
        padding-right: 20%;
        line-height: 2;
      }
    }
  }
  #contactanos{
    text-align: center;
    padding: 100px 0;
    height: 650px;
    h3{
      font-size: $size_30;
      padding: 0 0%;
    }
    .container_mix{
      padding: 100px 0;
      overflow: hidden;
      img{
        margin-right: 12%;
      }
    }
    .mix{
      float: left;
      text-align: left;
      img{
        margin-top: -30px;
        margin-left: -9%;
      }
      button{
        background: $background-green;
        color: $text-white;
        padding: 5px 24px;
        font-size: 1em;
        margin-left: -52%;
        margin-top: 32%;
        border: none;
        box-shadow: 4px 5px 0px rgba(0,0,0,0.2);
        outline: none;
      }
      p{
        margin-top: 25px;
        margin-left: -49%;
        width: 145%;
        a{
          text-decoration: none;
        }
      }
    }
  }
  #play{
    padding: 100px 0;
    h4{
      font-size: $size_30;
    }
    hr{
      margin: 20px 0;
      margin-top: 30px;
      margin-bottom: 60px;
      width: 40px;
    }
    .media{
      margin-bottom: 30px;
    }
    .col{
      padding: 30px 0px;
    }
  }
  #recientes{
    .col{
      padding: 40px 15px;
    }
    padding: 100px 0;
    h2{
      font-size: $size_30;
    }
    hr{
      margin: 5% 0;
      width: 5%;
    }
    .container_img{
      img{
        position: relative;
      }
      ul{
        position: absolute;
        left: 11%;
        top: 42%;
        li{
          a{
            color: $text_white;
            border-radius: 50px;
            font-size: $size_14;
          }
          a:hover,a:focus{
            background: $background_gray;
          }
        }
      }
    }
    h4{
      padding: 20px 0;
      font-size: $size_24;
      font-weight: 400;
    }
    p{
      line-height: 1.5;
    }
    .media{
      p{
        line-height: 1;
      }
    }
  }
  #proceso{
    padding: 100px 0;
    h5{
      padding-right: 28%;
      line-height: 1.5;
      margin-bottom: 5%;
      margin-top: 1%;
    }
    p{
      line-height: 1.5;
    }
    img{
      margin: auto;
    }
    .top{
      margin-top: 0%;
      margin-left: 0%;
      padding: 20px 15px;
    }
  }
  #lorem{
    padding: 100px 0;
    .hr_title{
      width: 5%;
      margin: 50px auto;
    }
    .col{
      padding: 30px 15px;
      p{
        line-height: 2;
      }
      h4{
        margin-top: 25px;
      }
      hr{
        margin: 30px 0;
      }
    }
  }
  #frontend{
    padding: 100px 0;
    img{
      margin: auto;
      padding-bottom: 30px;
    }
    h2{
      margin-bottom: 100px;
      margin-top: 20px;
    }
    a{
      padding: 10px 40px;
      text-align: center;
      border-radius: 4px;
    }
    a:hover{
      text-decoration: none;
      color: white;
    }
  }

  #testimonio{
    padding: 100px 0;
    .carousel-indicators{
      bottom: -40%;
      li{
        margin: 8px;
        border: 1px solid #fff;
        background: #fff;
      }
      li.active {
        background: #7CB342;
        border: 1px solid #7CB342;
      }
    }
    img{
      text-align: -webkit-center;
    }
    .media-heading{
      line-height: 2;
    }
    h5{
      padding: 10px 0;
    }
  }
  #logos{
    padding: 40px 0;
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      li{
        list-style: none;
        padding: 20px;
      }
    }
  }
}
@media only screen and (min-width : 480px) {
  #medida{
    h3{
      padding: 0 12%;
      font-size: $size_18;
    }
    p{
      line-height: 2;
    }
  }
}
@media only screen and (min-width : 768px) {
  header .navbar-default.menuweb{
    background-color: transparent;
  }
  header{
    .navbar-header{
      img{
        width: 100%;
        margin-top: -6px;
      }
    }
  }
  .menuweb{
    ul{
      background-color: transparent !important;
    }
  }
  #play{
    .col{
      padding: 0px 0px;
    }
  }
  #lorem{
    .col{
      padding: 60px 0;
    }
  }
  #banner {
    .carousel-caption{
      right: 25%;
      left: 25%;
      bottom: 35%;
      h4 {
        margin-bottom: 60px;
        font-size: 3rem;
        line-height: 1.5;
      }
      a {
        padding: 10px 28px;
        border-radius: 4px;
        font-size: 1em;
        text-shadow: none;
      }
      a:hover{
        color: inherit;
        text-decoration: none;
      }
    }
  }

  #medida{
    h3{
      font-size: $size_30;
    }
  }
  #logos {
    ul{
      justify-content: center;
      align-items: center;
      margin: 30px;
      li{
        padding: 10px;
      }
    }
    .carousel-inner>.item{
      height: 125px;
    }
  }
  #section{
    .h2_web{
      text-align: left;
    }
    .h2_user{
      text-align: right;
      color: $text-white;
    }
    .h3_web{
      font-size: $size_30;
      text-align: left;
      padding-bottom: 50px;
    }
    .h3_user{
      font-size: $size_30;
      text-align: right;
      padding-bottom: 50px;
      color: $text-white;
    }
    .hr_web{
      margin: 20px 0;
    }
    .hr_user{
      width: 10%;
      text-align: right;
      margin-right: 0;
    }
    img{
      margin: 0 auto;
    }
    .p_web{
      text-align: left;
      font-size: 2rem;
    }
    .p_user{
      text-align: right;
      font-size: 2rem;
    }
  }
  #testimonio{
    .carousel-indicators {
    bottom: -25%;
    }
    .blockbottom {
    margin-top: 200px;
    }
  }
  #proceso .top {
    margin-top: 0%;
    padding: 0;

  }
  #recientes{
    .container_img ul {
      position: relative;
      display: inline-flex;
      left: 0;
    }
    .col{
      padding: 0px 15px;
    }
  }
  #contactanos {
    height: 580px;
    h3{
      font-size: $size_30;
      padding: 0 22%;
    }
    .mix{
      button {
        margin-left: -29%;
        margin-top: 22%;
        padding: 5px 40px;
      }
      p {
        margin-left: -24%;
        width: 145%;
      }
    }
  }
}
@media only screen and (min-width : 960px) {
  #tecnology .carousel-inner>.item{
    min-height: 170px;
  }
}
@media only screen and (min-width : 1024px) {
  #banner{
    .carousel-caption{
      top: 35%;
      h3{
        margin-bottom: 50px;
        font-size: 2.5rem;
      }
    }
  }
  #tecnology{
    ul{
      justify-content: baseline;
      li{
        padding: 22px;
      }
    }
  }
  #proceso .top {
    margin-left: 11%;
  }
  #medida{
    h3{
      padding: 0 20%;
    }
  }
  #recientes .container_img ul {
    position: absolute;
    left: 10%;
    top: 37%;
  }
  #contactanos {
    height: 550px;
    .mix{
      button {
        margin-left: -23%;
        margin-top: 16%;
      }
      p {
      margin-left: -19%;
      }
    }
  }
  #testimonio{
    .carousel-indicators {
    bottom: -40%;
    }
    .blockbottom {
    margin-top: 50px;
    }
  }
}
@media only screen and (min-width : 1280px) {
  #banner .carousel-caption h3 {
    margin-bottom: 100px;
  }
  #proceso .top {
    margin-top: -10%;
    margin-left: 11%;
  }
  #medida{
    h3{
      padding: 0 25%;
    }
  }
  #tecnology{
    ul{
      justify-content: space-between;
    }
  }
  #contactanos {
    height: 600px;
    .mix button {
      margin-left: -22%;
      margin-top: 13%;
    }
  }
  #recientes .container_img ul {
    position: absolute;
    left: 11%;
    top: 42%;
  }
  #testimonio .blockbottom {
    margin-top: 100px;
  }
  #play{
    .iframe_spoty{
      padding-bottom: 70%;
    }
  }
}
