/* main: ../main.scss */

#banner_nosotros{
  img{
    width: 100%;
    position: relative;
  }
  .caption{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    color: $text_white;
  }
}
#content_nosotros{
  padding: 50px 0;
  img{
    width: 8%;
  }
  .descripcion_nosotros{
    padding: 50px 30px;

  }
  .thumbnail{
    border: 0;
    img{
      width: 80%;
    }
  }
}
#frontend_nosotros{
  padding: 80px 0;
  background: $backgorund_gray_light;
  .content{
    padding: 0 18%;
    span:first-child{
      text-decoration: underline;
    }
    h3{
      line-height: 1.5;
      padding-bottom: 20px;
    }
    p{
      line-height: 2;
    }
  }
}
#trabajamos{
  padding-top: 50px;
  .content{
    padding: 0 20%;
    h4{
      line-height: 1.5;
    }
  }
  .aro{
    margin-top: 14%;
  }
  .content_boton{
    position: relative;
    .teamuseit{
      width: 100%;
      position: relative;
    }
    a{
      position: absolute;
      top: 18%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
