/* main: ../main.scss */

@import '_variables.scss';

body {
  font-family: 'Open Sans', sans-serif !important;
}

p,h1,h2,h3,h4,h5{
  text-shadow: none;
}
hr{
  background: $background-green;
  border: 1px solid $background-green !important;
  width: 10%;
  margin: 25px auto;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.section{
  padding: 100px 0px;
}
.size_14{
  font-size: $size_14;
}
.size_18{
  font-size: $size_18;
}
.size_24{
  font-size: $size_24;
}
.size_30{
  font-size: $size_30;
}
.size_40{
  font-size: $size_40;
}


span{
  font-weight: bold;
}
.background_white{
  background: $background-white;
}
.background_gray_light{
  background: $backgorund_gray_light;
}
.background_gray{
  background: $background_gray;
}
.background_green{
  background: $background-green;
}

.text_green{
  color: $text_green;
}
.text_white{
  color: $text_white;
}
.text_gray{
  color: $text_gray;
}

.btn_green{
  padding: 10px 28px;
  border-radius: 4px;
  font-size: 1em;
  text-shadow: none;
  background: $background_green;
  color: $text_white;
  white-space: pre;
  letter-spacing: 2px;
  width: 15%;
  margin: 0 auto;
}
.btn_green:hover,.btn_green:focus, .btn_green:active {
  text-decoration: none;
  color: $text_white;
}
.carousel-control.right, .carousel-control.left{
  background-image: none;
}
.text_bold{
  font-weight: bold;
}
.pad_none{
  padding: 0;
}
.blocktop{
  margin-top: -18px;
  border-left: 0;

  p{
    font-size: 8rem;
    font-family: -webkit-pictograph;
  }
}
.blockbottom{
  margin-top: 50px;
  border-left: 0;

  p{
    font-size: 8rem;
    font-family: -webkit-pictograph;
    transform: rotate(180deg);
  }
}

.fixed{
  background: $background_gray !important;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.fixedOut{
  background: none !important;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
