/* main: ../main.scss */


$text_green: #7CB342;
$text_white: #fff;
$text_gray: #333333;
$text_green_light: #ACDB7A;
$text_yellow: #F8E81C;

$background_green: #7CB342;
$background_gray: #333;
$background_gray2: #999;
$background_gray3: #ccc;
$backgorund_gray4: #eee;
$backgorund_gray_light: #f5f5f5;;
$background-white: #fff;

$size_14: 0.875em;
$size_16: 1.000em;
$size_18: 1.125em;
$size_20: 1.250em;
$size_24: 1.5em;
$size_30: 1.875em;
$size_40: 2.500em;
