{% load static %}

<!DOCTYPE html>
<html lang="en">

  {% include "head.html" %}

<body>
  {% include "header.html" %}

  {% block content %}
  {% endblock %}

  {% include "footer.html" %}
</body>
</html>
