{% load static %}
{% load customs %}

{% customs "footer" as section %}
<footer class="background_gray">
  <div class="container">
    {% for custom in section %}
      {{ custom.content | safe }}
    {% endfor %}
  </div>
</footer>

<!-- Js-->
<script src="{% static "/jquery/jquery.min.js" %}"></script>
<script src="{% static "/js/template.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
