{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="django v1.0">
    <meta name="author" content="Juan Camilo">

    <title>{% block title %}Reto Django v1.0{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static  "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/main.min.css" %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
</head>
