{% load static %}

<header>
  <nav class="navbar menuweb navbar-static-top navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="img-responsive" src="{% static "images/logouseit.png" %}" alt="logouseit"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="" class="text-uppercase text_bold">Soluciones</a></li>
          <li><a href="" class="text-uppercase text_bold">Miestiloweb</a></li>
          <li><a href="{% url 'web:nosotros' %}" class="text-uppercase text_bold">Nosotros</a></li>
          <li><a href="" class="text-uppercase text_bold">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
