{% extends "web/base.html" %}
{% load customs %}

{% block content %}

{% banners "home" as banners %}
<section>
  <div id="banner">
  {% for banner in banners %}
    <img src="{{ banner.imagen }}" alt="{{ banner.title }}" class="img-responsive">
    <div class="carousel-caption">
      {{ banner.description | safe }}
    </div>
  {% endfor %}
  </div>
</section>

{% customs "tecnology" as tecnology %}
<section id="tecnology">
  <ul class="container">
    {% for custom in tecnology %}
      <li>
        <img src="{{ custom.imagen }}" alt="{{ custom.title }}">
      </li>
    {% endfor %}
  </ul>
</section>

{% customs "medida" as medida %}
<section id="medida" class="section">
  <div class="container">
    {% for custom in medida %}
      {{ custom.content | safe }}
      <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img-responsive">
    {% endfor %}
  </div>
</section>

{% customs "section1" as section %}
<section id="section" class="section background_gray_light">
  <div class="container">
    {% for custom in section %}
      <div class="col-xs-12 col-sm-6">
          {{ custom.content | safe }}
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img_web img-responsive">
      </div>
    {% endfor %}
  </div>
</section>

{% customs "section2" as section %}
<section id="section" class="section background_gray">
  <div class="container">
    {% for custom in section %}
      <div class="col-xs-12 col-sm-6 pull-right">
          {{ custom.content | safe }}
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img_web img-responsive">
      </div>
    {% endfor %}
  </div>
</section>

{% customs "section3" as section %}
<section id="section" class="section background_gray_light">
  <div class="container">
    {% for custom in section %}
      <div class="col-xs-12 col-sm-6">
          {{ custom.content | safe }}
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img_web img-responsive">
      </div>
    {% endfor %}
  </div>
</section>

{% customs "exito" as section %}
<section class="background_gray">
  <div id="exito" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for custom in section %}
      <li data-target="#exito" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active{% endif %}"></li>
      {% endfor %}
    </ol>
    <div class="container">
      <div class="carousel-inner">
        {% for custom in section %}
        <div class="item{% if forloop.first %} active{% endif %}">
          <h4 class="size_30">Caso de éxito: <span class="text_green">{{ custom.title | safe }}</span></h4>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="carousel-caption text-left">
                {{ custom.content | safe }}
              </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img-responsive">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% customs "logos" as section %}
<section id="logos">
  <div class="container">
    <ul>
      {% for custom in section %}
      <li><img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img-responsive"></li>
      {% endfor %}
    </ul>
  </div>
</section>

{% customs "testimonio" as section %}
<section id="testimonio" class="background_gray">
  <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for custom in section %}
        <li data-target="#carousel-example-generic3" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active{% endif %}"></li>
      {% endfor %}
    </ol>
    <div class="container">
      <div class="carousel-inner" role="listbox">
        {% for custom in section %}
        <div class="item {% if forloop.first %} active{% endif %}">
          <div class="media">
            <div class="col-xs-12 col-sm-1">
              <img src="customs/left.png" alt="left" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="media-left">
                <a href="#">
                    <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img-responsive">
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-1">
              <div class="media-body">
                  {{ custom.content | safe }}
              </div>
            </div>
            <div class="col-xs-12 col-sm-1">
              <img src="customs/right.png" alt="right" class="img-responsive" style="margin-top: 250%;">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% customs "frontend" as section %}
<section id="frontend">
  <div class="container text-center">
    {% for custom in section %}
      <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img-responsive">
      {{ custom.content | safe }}
    {% endfor %}
  </div>
</section>

{% customs "lorem" as section %}
<section id="lorem" class="background_gray">
  <div class="container">
    <div class="row">
      <h2 class="size_30 text_white text-center">Lorem ipsum dolor sit amet</h2>
      <hr class="hr_title">
      {% for custom in section %}
      <div class="col col-xs-12 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-1">
        <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img-responsive">
        {{ custom.content | safe }}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% customs "proceso" as section %}
<section id="proceso" class="background_gray_light">
  <div class="container">
    <div class="row">
      {% for custom in section %}
          {% if custom.section|length > 0 %}
            <img src="{{ custom.imagen }}" alt="{{ custom.title }}" class="img-responsive">
          {% endif %}
        {{ custom.content | safe }}
      {% endfor %}
    </div>
  </div>
</section>

<section id="recientes">
  <div class="container">
    <h2 class="font_400">Reciente en miestiloweb</h2>
  </div>
</section>

{% customs "play" as section %}
<section id="play" class="background_gray_light">
  <div class="container">
    {% for custom in section %}
      {{ custom.content | safe }}
    {% endfor %}
  </div>
</section>

{% customs "contactanos" as section %}
<section id="contactanos" class="background_white">
  <div class="container">
    {% for custom in section %}
      {{ custom.content | safe }}
    {% endfor %}
  </div>
</section>

<!--http://miestiloweb.com/?format=feed&type=rss-->

{% endblock %}
