{% extends "web/base.html" %}
{% load static %}

{% load customs %}


  {% block content %}

{% banners "banner_interna" as banners %}
<section id="banner_nosotros" class="text-center">
  {% for banner in banners %}
  <img src="{{ banner.imagen.url }}" alt="{{ banner.title }}" class="img-responsive">
  <div class="caption container text-center">
    {{ banner.description | safe }}
  </div>
  {% endfor %}
</section>

{% customs "content_nosotros1" as section %}
<section id="content_nosotros" class="text-center">
  <div class="container">
    {% for custom in section %}
    <div class="col-xs-12 co-sm-12">
      <img src="{{ custom.imagen.url }}" alt="{{ custom.title }}">
    </div>
    <div class="descripcion_nosotros col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2">
      {{ custom.content | safe }}
    </div>
    {% endfor %}
  </div>
</section>

{% customs "content_nosotros2" as section %}
<section id="content_nosotros" class="text-center">
  <div class="container">
    <div class="row">
      {% for custom in section %}
        {% for i in 16|times %}
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="{{ custom.imagen.url }}" alt="{{ custom.title }}">
              <div class="caption">
                {{ custom.content | safe }}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
</section>

{% customs "frontend_nosotros" as section %}
<section id="frontend_nosotros" class="text-center">
  <div class="container content">
    {% for custom in section %}
      <img src="{{ custom.imagen.url }}" alt="{{ custom.title }}">
      {{ custom.content | safe }}
    {% endfor %}
  </div>
</section>

{% customs "trabajamos" as section %}
<section id="trabajamos" class="text-center">
  <div class="container content">
    {% for custom in section %}
      <h4 class="text_bold">{{ custom.title }}</h4>
      <hr>
      {{ custom.content | safe }}
      <img src="{{ custom.imagen.url }}" alt="{{ custom.title }}" class="aro">
    {% endfor %}
  </div>
  {% customs "trabajamos2" as section %}
  <div class="content_boton">
    {% for custom in section %}
      <img src="{{ custom.imagen.url }}" alt="{{ custom.title }}" class="teamuseit">
      {{ custom.content | safe }}
    {% endfor %}
  </div>
</section>

{% endblock %}
